body {
  background-color: #98eadf;
}
#msgBanner{
  height: 100px;
  width: 100%;
  background-color: #41596b;
  margin-top: 5%;
}

#bannerText{
  font-size: 30px;
  position: relative;
  top: 25%;
  color: white;
  font-weight: bold;
}

#recipientBanner{
  height:90px;
  width: 100%;
  background-color: white;
  margin-top: 0%;
}

#rbText{
  font-size:25px;
  position: relative;
  top:30%;
  margin-left: 30px;
}

#addRecip{
  width: 5%;
  margin-left: 91%;
  position: relative;
  margin-top: -3%;
}

#eventInputs{
  font-size: 29px;
  color: #c9d7e5;
  width: 80%;
  margin: 30px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 5px 50px;
  border: 5px solid white;
  border-radius: 15%;
  box-sizing: border-box;
  height: 80%;
}

#msgContainer{
  width:100%;
  height:10%;
  bottom:0%;
  position:absolute;
}

#msgInput{
  width:50%;
  height:30%;
  position:relative;
  margin-left:25%;
  top: 50%;
  font-size: 20px;
  padding-left: 20px;
}

#sendButton{
  width: 10%;
  position: relative;
  margin-left: 5%;
}

#recips{
  height:85px;
  width: 70%;
  margin-left: 16%;
  top:8%;
  position:absolute;
  border-style:hidden;
  font-size: 200%;

}
